PassengerAppRoot /home/u424851115/domains/lokumbe.com/nodejs
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs22/root/bin/node
PassengerStartupFile server.js
PassengerBaseURI /
PassengerRestartDir /home/u424851115/domains/lokumbe.com/nodejs/tmp
SetEnv NODE_OPTIONS "--require /home/u424851115/domains/lokumbe.com/public_html/.builds/config/preload-timestamp.js"
SetEnv LSNODE_CONSOLE_LOG console.log
RewriteRule ^\.builds - [F,L]